.homeContainer{
  background:rgb(255, 255, 255);
  min-height:100vh;
  padding:0px;
}
.homeCarousel{
  margin-top:100px;
  height:500px;
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.homeCarousel p, .homeCarousel h3{
  padding:10px;
  padding-left:50px;
  padding-right:50px;
}
.homeInnerContainer{
  padding:5%;
}
.workExperience{
  background:rgb(37, 37, 37);
  color:white;
}
.carouselImages{
  width:100%;
  height:100%;
  position:absolute;
  top:0px;
  left:0px;
  z-index:0;
  opacity:0.2;

}
h3,p{
  position:relative;
  z-index: 1;
}
.carousel-item{
  height:100%;
  
}
.carousel-inner{
  height:100%;
}
.carouselItemWrap{
  display:flex;
  align-items: center;
  justify-content: center;
  height:100%;
  flex-wrap:wrap;
}
.introduction{
  display:flex;
  flex-wrap:wrap-reverse;
}
.introImage img{
  min-width:150px;
  width:70%;
  border:10px solid rgb(238, 238, 238);
}
.introImage{
  width:30%;
  display:flex;
  align-items: center;
  justify-content: center;
}
.introText{
  width:70%;
  min-width:300px;
  padding-right:10%;
  display:flex;
  align-items: center;
  justify-content: center;
}

.experienceInner{
  display:flex;
  flex-wrap:wrap;
  margin-top:50px;
}
.experienceText{
  
  width:70%;
  min-width:300px;
}
.experienceImage{
  width:30%;
  min-width:200px;
  padding-right:10%;
}
.experienceImage img{
  width:70%;
}
.educationInner{
  display:flex;
  flex-wrap:wrap;
  padding-top:50px;
}
.educationImage{
  width:30%;
  min-width: 200px;
  padding-right:10%;
}
.educationText{
  width:70%;
  min-width:300px;
}
.educationImage img{
  width:70%;
}