.homeContainer{
  background:rgb(255, 255, 255);
  min-height:100vh;
  padding:0px;
}
.homeCarousel{
  height:500px;
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.homeCarousel p, .homeCarousel h3{
  padding:10px;
  padding-left:50px;
  padding-right:50px;
}
.homeInnerContainer{
  padding:5%;
}
.workExperience{
  background:rgb(14, 3, 44);
  color:white;
}
.carouselImages{
  width:100%;
  height:100%;
  position:absolute;
  top:0px;
  left:0px;
  z-index:0;
  opacity:0.3;

}
h3,p{
  position:relative;
  z-index: 1;
}
.carousel-item{
  height:100%;
  
}
.carousel-inner{
  height:100%;
}
.carouselItemWrap{
  display:flex;
  align-items: center;
  justify-content: center;
  height:100%;
  flex-wrap:wrap;
}
.introduction{
  display:flex;
  flex-wrap:wrap-reverse;
}
.introImage img{
  width:100%;
  border-radius:50px;
}
.introImage{
  width:30%;
}
.introText{
  width:70%;
  min-width:300px;
  padding-right:10%;
  display:flex;
  align-items: center;
  justify-content: center;
}