.mainNavbar{
  position:fixed;
  top:0px;
  z-index:10;
  width:100%;
  max-width:inherit;
  transition:500ms;

}
.navbar{
  padding:50px;
  padding-bottom:30px;
  background-color:white !important;
}
.nav-link{
  color:black !important;
  border-bottom:2px solid rgba(0, 0, 0, 0);
  text-decoration: none !important;
}

.nav-link:hover{
  border-bottom:2px solid black;
  text-decoration: none;
}

.activeLink{
  border-bottom:2px solid black;
}

.navlink:hover{
  text-decoration:none;
}
.hidden{
  opacity:0;
  transition:500ms;
  top:-100px;
}
.showNav{
  position:fixed;
  top:0px;
  z-index:20;
}
.showNav:hover{
  cursor:pointer;
}
.showNav .fa-chevron-down{
  font-size:3rem;
  padding:20px;
}