.portfolioHeader{
  margin-top:100px;
  height:500px;
  display:flex;
  align-items: center;
  justify-content: center;
  position:relative;
  overflow:hidden;
}
.portfolioContainer{
  padding:0px;
  background:rgb(255, 255, 255);
  min-height:100vh;
}
.portfolioHeader img{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  opacity:0.3;
}